{% extends 'base/base2.html' %}

{% load static %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <!--breadcrumbs area start-->
    <div class="banner_blog">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content" style="color: white;">
                        <ul>
                            <li><a href="index.html">Inicio</a></li>
                            <li>Proyecto</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!--blog body area start-->
    <div class="blog_details">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <!--blog grid area start-->
                    <div class="blog_wrapper blog_wrapper_details">
                        <article class="single_blog">
                            <figure>
                                <div class="post_header">
                                    <h3 class="post_title">{{ project.title | safe }}</h3>
                                    <div class="blog_meta">
                                        <p>Publicado por: <a href="#">admin</a> / Fecha: <a href="#">April 10, 2019</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="blog_thumb">
                                    <a href="#"><img src="{{ project.image.url }}" alt=""></a>
                                    {#                               <a href="#"><img src="{% static 'assets/img/blog/blog-big1.jpg' %}" alt=""></a>#}
                                </div>
                                <figcaption class="blog_content">
                                    <div class="post_content">
                                        {{ project.descripcion_larga | safe }}
                                    </div>
                                    <div class="entry_content">

                                        <div class="social_sharing">
                                            <p>Nuestras redes sociales:</p>
                                            <ul>
                                                <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" title="instagram"><i class="fa fa-instagram"></i></a>
                                                </li>
                                                <li><a href="#" title="pinterest"><i class="fa fa-pinterest"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                    <!--blog grid area start-->
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="blog_sidebar_widget">
                        <div class="widget_list widget_post">
                            <div class="widget_title">
                                <h3>Recent Posts</h3>
                            </div>
                            {% for blog in ultimos_blogs %}
                                <div class="post_wrapper">
                                    <div class="post_thumb">
                                        <a href="{% url 'app-website:block-detail' project.id %}">
                                            <img src="{{ project.image.url }}" alt="">
                                        </a>
                                    </div>
                                    <div class="post_info">
                                        <h4><a href="{% url 'app-website:block-detail' project.id %}">Blog image post</a>
                                        </h4>
                                        <span>{{ project.created }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--blog section area end-->

    <!--brand area start-->
    <!--<div class="brand_area color_five">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand_container owl-carousel">
                    <div class="single_brand">
                        <a href="#"><img src="{% static 'assets/img/brand/brand1.png' %}" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="{% static 'assets/img/brand/brand2.png' %}" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="{% static 'assets/img/brand/brand3.png' %}" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="{% static 'assets/img/brand/brand4.png' %}" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="{% static 'assets/img/brand/brand5.png' %}" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="{% static 'assets/img/brand/brand6.png' %}" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="{% static 'assets/img/brand/brand2.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
    <!--brand area end-->

{% endblock %}